.common {
  > .ant-row {
    > .ant-col {
      > .container {
        > .title {
          height: 55px;
          background-color: #e3f1f3;
          border-radius: 8px 8px 0px 0px;
          > .iconStyle {
            font-size: 23px;
            width: 23px;
            height: 23px;
            text-align: center;
            margin-left: 10px;
            color: #4d939f;
            margin-top: 16px;
            float: left;
          }
          > .name {
            font-size: 20px;
            height: 32px;
            line-height: 32px;
            color: #2c717e;
            text-align: center;
            float: left;
            margin-top: 9.6px;
            margin-left: 10px;
          }
          > .iconAction {
            float: right;
            margin-right: 10px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        > .content {
          min-height: 345px;
          height: calc((100vh - 64px - 20px - 40px - 20px) / 2 - 10px - 55px);
          overflow-y: auto;
          overflow-x: hidden;
          background-color: #fff;
        }
      }
      > .application {
        > .content {
          > .ant-row {
            > .ant-col {
              > .iconBox {
                width: 100%;
                height: 100px;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                > img {
                  width: 50px;
                  height: 50px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
                > div {
                  text-align: center;
                  position: absolute;
                  bottom: 4px;
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis
                }
              }
            }
          }
        }
      }
      > .unredMessage {
        > .content {
          > .dangerBox {
            display: flex;
            background: linear-gradient(265deg, rgba(215, 84, 84, 0.04) 0%, rgba(215, 84, 84, 0.04) 100%);
          }
          > .normalBox {
            display: flex;
            background: linear-gradient(265deg, rgba(77, 147, 159, 0.04) 0%, rgba(77, 147, 159, 0.04) 100%)
          }
          .left {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .middle {
            flex: 1;
            overflow: hidden;
            .dangerSpan {
              color: rgb(223, 45, 45);
              background-color: rgba(215, 84, 84, 0.1);
              margin-right: 10px;
            }
            .normalSpan {
              color: rgb(27, 154, 178);
              background-color: rgb(227, 241, 243);
              margin-right: 10px;
            }
            > .timeSpan {
              font-size: 14px;
              font-weight: 700;
            }
            > .notice {
              white-space: nowrap;
              text-overflow: ellipsis;
              color: #647288;
              overflow: hidden;
            }
          }
          .right {
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer
          }
        }
      }
    }
  }
}